<div class="col-md-12">
    <h3 class="mb-3 text-center">Create Champion</h3>

    <div class="form-group row">
      <label class="control-label col-md-12"><strong>Champion Name</strong></label>
      <input type="text" [(ngModel)]="Champion.name" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12"><strong>Role</strong></label>
      <input type="text" [(ngModel)]="Champion.role" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12"><strong>Difficulty</strong></label>
      <input type="text" [(ngModel)]="Champion.difficulty" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12"><strong>Image URL</strong></label>
      <input type="text" [(ngModel)]="Champion.imageUrl" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="createChampion()">Create Champion</button>
    </div>

 </div>