<div *ngIf="Champions.length !== 0">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Champion ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Role</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let champion of Champions">
                    <td>{{champion.id}}</td>
                    <td>{{champion.name}}</td>
                    <td>{{champion.role}}</td>
                    <td>{{champion.difficulty}}</td>
                    <td><img [src]="champion.imageUrl" style="max-height: 100px; max-width: 100px;" /></td>
                    <td>
                        <a [routerLink]="['/champion-edit/', champion.id]"class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
                        <a (click)="deleteChampion(champion.id)"class="btn btn-danger btn-sm float-right">Delete</a>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>