<button class="btn btn-outline-primary" routerLink="/">All Champions</button>
<button class="btn btn-outline-primary" routerLink="/champion-create">Add Champion</button>


<router-outlet></router-outlet>
